# Frontend
VITE_GAS_BASE_URL=https://script.google.com/macros/s/AKfycbxYXEWsOsRvPSJ0xeXqDl9ocTwCPlkL0NNM6uEiQG-QzZ82gjtI4UCNxwOvrog5Xqld/exec
VITE_API_TOKEN=3f7c2b9e-8a41-4d3b-9c72-f1a4b6e0c58d


# Backend (set in GAS Script Properties, not here)
# SHEET_ID=
# API_TOKEN=
