# Ignore everything under tracks
# tracks/*

# Allow dir1
# !tracks/dir1/

# Ignore everything inside dir1
# tracks/dir1/*

# Allow only this file
# !tracks/dir1/shareme.md

# Node
node_modules/
dist/
*.log

# production
/build

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# GAS/CLASP local auth
.clasp.json.local
.clasprc.json

# others
/.vscode/
id_*_jts_org
id_*_jts_org.pub

# AI
.github/agents/
tracks/*